
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
}

.card {
    width: 450px;
    height: 650px;
    box-shadow: 0 0 4px 3px grey;
    perspective: 1000px;
    background-color: white;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    background-color: white;
}


/* CARD LOGIN I REGISTRATION */

.cardLogin, .cardRegist {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 55px;
    backface-visibility: hidden;
}

.cardRegist {
    transform: rotateY(180deg);;
}

h2 {
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

/* LOGIN VIA FECEBOOK AND GOOGLE*/

.iconOne, .iconTwo {
    width: 100%;
    height: 45px;
    margin: 6px 0;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

i {
    font-size: 25px;
}

.iconOne { 
    border: 1px solid blue;
    background: rgb(37, 37, 247);
    border-radius: 20px;
}

.iconTwo {
    border: 1px solid rgb(161, 18, 18);
    background: rgb(190, 36, 36);
    border-radius: 20px;
    margin-bottom: 30px;
}

.iconOne i, .iconTwo i {
    padding-right: 10px;
}

.input-box {
    width: 100%;
    height: 45px;
    margin: 6px 0;
    border: 1px solid red;
    border-radius: 20px;
    outline: none;
    text-align: center;
    color: black;
    font-size: 15px;
}


/* BUTTONS */

button {
    width: 100%;
    height: 45px;
    margin: 25px 0 10px;
    border-radius: 20px;
    outline: none;
    border: 2px solid  rgb(54, 170, 247);
    color: rgb(54, 170, 247);
    font-size: 18px;
    cursor: pointer;
}

.btn, .btn1 {
    color: white;
    border: 2px solid rgb(79, 170, 79);
    background: rgb(79, 170, 79);
    font-size: 18px;
}

.btn1 {
    margin-top: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
}

.check1 {
   position: relative;
   right: 27px;
}

.check1, .check2, .check {
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
}

.text {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.text1 {
    font-size: 20px;
    margin: 130px 0 10px 0;
    text-align: center;
}

.submit-btn:hover {
    background: rgb(54, 170, 247);
    color: white;
}

label:hover {
    color: rgb(110, 107, 107);
}

::placeholder {
    font-size: 13px;
    color: rgb(182, 21, 21);
}


/* VALIDATION */

.input-box:valid {
    border: 2px solid green;
}

.input-box:invalid {
    border: 2px solid red;
}